<% include partials/header %>
	<div class="cont">		
		<div class="banner">
			<div class="text">
				<h1 class="heading text-light">Hi</h1>
			</div>			
			<div class="buttons">
				<button type="button" class="btn btn-warning btn-lg mr-1"><a style="color:black;text-decoration:none" href="/register">Explore</a></button>
				<button type="button" class="btn btn-danger btn-lg ml-1">View Analysis</button>
			</div>
		</div>		
	</div>
	</body>
<% include partials/footer %>	
